<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Orphan Management System</title>
</head>
<style>
  .customButton
  {
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: white;
    border: 2px solid #008CBA;
    border-radius: 10px;
    background-color: #008CBA;
    transition: all 0.3s;
  }
  .customButton:hover
  {
    color: black;
    background-color: white;
    cursor: pointer;
  }
</style>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a href="/" class="brand-logo">OMS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/feedback/">Feedback</a></li>
        <li><a href="/account/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>
</div>
{% block content %}
{% endblock %}
</html>