{% extends nav %}
{% block content %}

<body>
  <div class = "center-align">
    <div class="row">
      <div class="col s4 push-s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h3>Add Expense</h3></span>
            
          

            <form class="container expense-form" action= "addtransexp/" method="POST">
                {% csrf_token %}
                <div class = "row">  
                  <div class="input-field col s12">
                    <input name="amount" id="amount" type="number"  min="1" required>
                    <label for="amount">Expense Amount(negative)</label>
                  </div>
                  <div class="input-field col s12">
                    <select name="deptid" id="deptid" type="deptid"  class="validate" required>
                      <option value="" disabled selected>Choose your option</option>
                      {% for x in dept %}
                      <option value="{{x.id}}">{{x.name}}</option>
                      {% endfor %}
                    </select>
                    <label>Expensed by Deaprtment</label>
                  </div>
                  <div class="input-field col s12">
                      <input name="expensedate" id="expensedate" type="datetime-local"  >
                      <label for="expensedate">Expensed on</label>
                  </div>        
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  $('form').on('submit', function() {
  var valid = true;
  invalidStrings = ["--", "\"", "\'", "*", "where", "from", "?", "!", "=",";"];

  $('form input').each(function() {
    for(let x in invalidStrings)
    {
      if (this.value.includes(x))
      {
        alert("Invalid string input. invalid characters. ");
        valid = false;
        return false;
      }
    }
  });

  return valid;
  });

  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
{% endblock %}
