{% extends nav %}
{% block content %}
<body>
        <div style="text-align: center;">
                <h1>Admin page</h1>
                <h2 style="color: green;">No matter what you say this is in a primary colour rumaisa</h2>
                <a href="view/"><button class="customButton">View people information</button></a>
                <a href="addorphan/"><button class="customButton">Add an Orphan</button></a>
                <a href="adoptionrequest/"><button class="customButton">Adoption Requests</button></a>
                <a href="mass_email/"><button class="customButton">Mass Email</button></a>
                <a href="appointmentrequest/"><button class="customButton">Appointment Requests</button></a>
        </div>
</body>
{% endblock %}