{% extends nav %}
{% block content %}

<body>
    <div class = "center-align">
        <div class="row">
            <div class="col s4 push-s4">
                <span class="card-title"><h3>Orphans</h3></span>
                <table>
                    <thead>
                        <tr>
                            {% for title in titles %}
                                <th>{{title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for orphan in orphans %}
                            <tr>
                                {% for key, value in orphan.items %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}