{% extends nav %}
{% block content %}

<body>
  <div class = "center-align">
    <div class="row">
      <div class="col s4 push-s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h3>Update employee data</h3></span>
            <form class="container" action= "../updaterecord/" method="POST">
              {% csrf_token %}
              <div class = "row">
                <div class="input-field col s12">
                  <input type="hidden" id="CNIC" name="CNIC" value="{{result.CNIC}}">          
                  <span><b>CNIC</b> {{result.CNIC}}</span>
                </div>
                <div class="input-field col s12">
                  <input name="name" id="name" type="text" value="{{result.Name}}" required>
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                  <input name="email" id="email" type="text" value="{{result.Email}}" required>
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input type="hidden" id="prevdeptid" name="prevdeptid" value="{{result.DeptID}}">          
                  <span><b>Previous Dept</b> {{result.DeptID}}</span>
                </div>
                <div class="input-field col s12">
                  <input name="deptid" id="deptid" type="number" value="{{result.DeptID}}">
                  <label for="deptid">New Dept ID</label>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;">Join Date</label>
                  <input name="JoinDate" id="JoinDate" type="datetime-local" value="{{result.JoinDate}}" required>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;">Contract End Date</label>
                  <input name="EndDate" id="EndDate" type="datetime-local" value="{{result.ContractEndDate}}" required>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;">Date of Birth</label>
                  <input name="dateofbirth" id="dateofbirth" type="datetime-local" value="{{result.DateOfBirth}}" required>
                </div>
                <div class="input-field col s12">
                  <input name="phone" id="phone" type="number" value="{{result.Phone}}">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12">
                  <input name="salary" id="salary" type="number" value="{{result.Salary}}">
                  <label for='salary'>Salary</label>
                </div>
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
{% endblock %}
