{% extends nav %}
{% block content %}

<body>
  <div class = "center-align">
    <div class="row">
      <div class="col s4 push-s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h3>Update orphan data</h3></span>
            <form class="container" action= "../updaterecord/" method="POST">
              {% csrf_token %}
              <div class = "row">
                <div class="input-field col s12">
                  <input type="hidden" id="CNIC" name="CNIC" value="{{result.CNIC}}">          
                  <span><b>CNIC</b> {{result.CNIC}}</span>
                </div>
                <div class="input-field col s12">
                  <input name="name" id="name" type="text" value="{{result.Name}}" >
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                  <input name="specialneeds" id="specialneeds" type="text" value="{{result.SpecialNeeds}}">
                  <label for="specialneeds">Special Needs</label>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;" for="DateOfBirth">Date of Birth</label>
                  <input name="DateOfBirth" id="DateOfBirth" type="datetime-local" value="{{result.DateOfBirth}}">
                </div>
                <div class="input-field col s12">
                  <select name="education" selected="{{result.Education}}">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Kindergarten" {% if result.Education in "Kindergarten" %}selected{% endif %}>Kindergarten</option>
                    <option value="Nursery" {% if result.Education in "Nursery" %}selected{% endif %} >Nursery </option>
                    <option value="Grade 1" {% if result.Education in "Grade 1" %}selected{% endif %}>Grade 1</option><option value="Grade 2"{% if result.Education in "Grade 2" %}selected{% endif %}>Grade 2</option><option value="Grade 3"{% if result.Education in "Grade 3" %}selected{% endif %}>Grade 3</option><option value="Grade 4"{% if result.Education in "Grade 4" %}selected{% endif %}>Grade 4</option><option value="Grade 5"{% if result.Education in "Grade 5" %}selected{% endif %}>Grade 5</option><option value="Grade 6"{% if result.Education in "Grade 6" %}selected{% endif %}>Grade 6</option><option value="Grade 7"{% if result.Education in "Grade 7" %}selected{% endif %}>Grade 7</option><option value="Grade 8"{% if result.Education in "Grade 8" %}selected{% endif %}>Grade 8</option><option value="O-Levels"{% if result.Education in "O-Levels" %}selected{% endif %}>O-Levels</option><option value="A levls"{% if result.Education in "A levels" %}selected{% endif %}>A-levels</option>
                  </select>
                  <label>Education</label>
                </div>
                <div class="input-field col s12">
                  <select name="sex">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="M" {% if result.Sex in "Male" %}selected{% endif %}>Male</option>
                    <option value="F" {% if result.Sex in "Female"  %}selected{% endif %}>Female</option>
                    <option value="X" {% if result.Sex in "Other"  %}selected{% endif %}>Other</option>
                  </select>
                  <label>Sex </label>
                </div>
                                        
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
{% endblock %}
