{% extends nav %}
{% block content %}

<body>
  <div class = "center-align">
    <div class="row">
      <div class="col s4 push-s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h3>Update volunteer data</h3></span>
            <form class="container" action= "../updaterecord/" method="POST">
              {% csrf_token %}
              <div class = "row">
                <div class="input-field col s12">
                  <input type="hidden" id="CNIC" name="CNIC" value="{{result.CNIC}}">          
                  <span><b>CNIC</b> {{result.CNIC}}</span>
                </div>
                <div class="input-field col s12">
                  <input name="name" id="name" type="text" value="{{result.Name}}" required>
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                  <input name="email" id="email" type="text" value="{{result.Email}}" required>
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input name="deptid" id="deptid" type="number" value="{{result.DeptID}}">
                  <label for="deptid">Dept ID</label>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;">Join Date</label>
                  <input name="JoinDate" id="JoinDate" type="datetime-local" value="{{result.JoinDate}}" required>
                </div>
                <div class="input-field col s12">
                  <label style="margin-top: -20px;">Contract End Date</label>
                  <input name="EndDate" id="EndDate" type="datetime-local" value="{{result.ContractEndDate}}" required>
                </div>
                <div class="input-field col s12">
                  <select name="sex" required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="M" {% if result.Sex in "Male" %}selected{% endif %}>Male</option>
                    <option value="F" {% if result.Sex in "Female"  %}selected{% endif %}>Female</option>
                    <option value="X" {% if result.Sex in "X"  %}selected{% endif %}>Other</option>
                  </select>
                  <label>Sex </label>
                </div>
                <div class="input-field col s12">
                  <input name="age" id="age" type="number" value="{{result.Age}}">
                  <label for="age">Age</label>
                </div>
                <div class="input-field col s12">
                  <input name="phone" id="phone" type="number" value="{{result.Phone}}">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12">
                  <input name="organization" id="organization" type="text" value="{{result.Organization}}">
                  <label for="organization">Organization</label>
                </div>                  
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
    $('form').on('submit', function() {

var valid = true;
var invalidStrings = ["--", "\"", "\'", "*", "where", "from", "?", "!", "=", ";"];

$('form input').each(function() {
  // for csfr middlwware token
  if (this.type == "hidden")
    return true

  for(let i = 0; i < invalidStrings.length; i += 1)
  {
    if (this.value.includes(invalidStrings[i]))
    {
      alert("Invalid input. Sql injection, i see. xD");
      valid = false;
      return false;
    }
  }
});

return valid;
});

  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
{% endblock %}
