{% extends nav %}
{% block content %}
<body>
        <div style="text-align: center;">
                <h1>View people's information</h1>
                <h2 style="color: yellow;">No matter what you say this is in a primary colour dana</h2>
                <a href="orphanslist/"><button class="customButton">Orphans</button></a>
                <a href="volunteerslist/"><button class="customButton">Volunteers</button></a>
                <a href="employeeslist/"><button class="customButton">Employees</button></a>
        </div>
</body>
{% endblock %}