{% extends nav %}
{% block content %}
<body>
        <div style="text-align: center;">
                {% if usertype == 'admin' %}
                <h1>Hello {{usertype}}</h1>
                <button class="customButton" type="button" onclick="adminPanel()">Admin Panel</button>
                {% endif %}
                {% if usertype == 'volunteer' %}
                <h1>Hello {{usertype}}</h1>
                <button class="customButton" type="button" onclick="getCert()">Get Certificate</button>
                {% endif %}
                {% if usertype == 'parent' %}
                <h1>Hello {{usertype}}</h1>
                <button class="customButton" type="button" onclick="()">View Orphans List</button>
                <button class="customButton" type="button" onclick="()">Apply for Appointment</button>
                {% endif %}
        </div>
</body>
<script type="text/javascript">
        function adminPanel()
        {
                window.location.replace("/myadmin/");
        }
        function getCert()
        {
                window.location.replace("/certificate/");
        }
        function parentViewOrphan()
        {
                window.location.replace("/parent/vieworph/");
        }
</script>
{% endblock %}